@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  --main-font: 'Roboto', sans-serif;;
  --blue-color: #107ACC;
  --yellow-color: #FFDE25;
  --black-color: #121317;
  --magenta-color: #F14281;
}

*{
  font-family: var(--main-font);
}

  
  .userCard {
    width: 100%;
    /* height: 48%; */
    margin: auto;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    /* position: absolute;
    top: 1rem;
    left: 20rem; */
    font-weight: bold;
  }
  
  .userCardHeader_modifier{
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: var(--blue-color) !important;
    color: #FFFF !important;
    font-size: 36px;
    border-radius: 1rem 1rem 0rem 0rem !important;
    width: 100%;
    height: 40px;
    padding: 2.5rem !important;
  }

  .userName {
    font-size: 24px;
    margin-left: 10rem;
    margin-top: 1rem;
  }

  .editButton:hover {
    color: #FFFF;
    cursor: pointer;
  }

  .editButtonText {
    font-size: 14px;
    font-weight: 400;
    margin-top: 1rem;
    text-transform: uppercase;
  }

  .editButtonIcon {
    width: 18px;
  }
  
  .userCardImage {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    position: relative;
    top: -3rem;
    /* right: 25rem; */
    left: 1rem;
  }

  .professionText {
    margin-top: 1.5rem;
    /* margin-bottom: 3rem; */
    text-align: start;
    margin-left: 12rem;
    font-weight: 300;
    font-size: 19px;
  }

  .divPersonalData {
    margin-right: 20rem;
    margin-left: 12rem;
    display: flex;
    justify-content: space-between;
    /* margin-top: 8rem; */
  }

  .paragraphPersonalData {
    font-size: 16px;
  }

  .spanPersonalData {
    font-weight: normal;
  }

  .divLine {
    margin: 0.6rem 2rem;
  }
  
  .contactMainDiv {
    display: flex;
    justify-content: space-around;
    width: 80%;
    
  }

  .contactInfo {
    font-weight: normal;
  }

  .contactIcon {
    width: 1rem;
    margin-left: 2rem;
  }


  .paragraphIntroduction {
    text-align: justify;
    margin: 0rem 1rem;
    font-size: 16px;
  }

  .spanIntroduction {
    font-weight: normal;
  }

  /* Modal CSS */
  .buttonSet {
    margin-bottom: 1rem;
  }
  
  .buttonModal{
      background-color: #ffff;
      border: none;
  }

  .buttonWrapper {
    background-color: var(--magenta-color) !important;
    border-radius: 42px !important;
    font-weight: normal !important;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0.6rem 1.5rem !important;
    margin-top: 1rem;
    margin-right: 1rem;
  }

  .imgButton {
    color: #FFFF;
    width: 18px;
    height: 18px;
    position: relative;
    text-decoration: none;
    font-weight: normal;
  }

  .inputWork{
      display: flex;
      gap: 1rem;
  }

  .inputBorder {
    border: solid var(--blue-color) !important;
  }

  .inputJobs{
      margin: 1rem 0;
      display: flex;
      align-items: baseline;
  }

  .deleteAccountTrash {
    font-size: 14px;
     color: var(--magenta-color);
     margin-right: 2rem;
     cursor: pointer;
     text-decoration: none;
     text-transform: uppercase;
     margin-top: 0.5rem;
    }
    
    .deleteAccountTrash:hover {
      color: var(--magenta-color);
  }


  .deleteModalTitle {
    width: 100%;
  }

  .deleteModalSubTitle {
    padding: 0 6rem;
  }

  .buttonDeleteAccount {
    text-transform: uppercase;
    color: var(--magenta-color);
    background-color: #FFFF;
    border: none;
  }

  /* Tablet */
  @media (max-width: 989px){
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  --main-font: 'Roboto', sans-serif;;
  --blue-color: #107ACC;
  --yellow-color: #FFDE25;
  --black-color: #121317;
  --magenta-color: #F14281;
}

*{
  font-family: var(--main-font);
}

  
  .userCard {
    width: 100%;
    /* height: 48%; */
    margin: auto;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    /* position: absolute;
    top: 1rem;
    left: 20rem; */
    font-weight: bold;
    padding-bottom: 1rem;
  }
  
  .userCardHeader_modifier{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--blue-color);
    color: #FFFF;
    border-radius: 1rem 1rem 0rem 0rem;
    width: 100%;
    padding: 2.5rem;
  }
  .boxProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .userName {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    bottom: 1rem;
  }

  .editButton:hover {
    color: #FFFF;
    cursor: pointer;
  }

  .editButtonText {
    font-size: 14px;
    font-weight: 400;
    margin-top: 1rem;
    text-transform: uppercase;
  }

  .editButtonIcon {
    width: 18px;
  }
  
  .userCardImage {
    border-radius: 50%;
    max-width: 200px;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .professionText {
    /* margin-bottom: 3rem;
    margin-left: 5px;
    margin-right: 5px;
    text-align: start; */
    font-weight: 300;
    font-size: 19px;
  }
  .professionText p{
    text-align: center;
  }

  .divPersonalData {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .paragraphPersonalData {
    font-size: 16px;
  }

  .spanPersonalData {
    font-weight: normal;
  }

  .divLine {
    margin: 0.6rem 2rem;
  }
  
  .contactMainDiv {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    margin-left: 2rem;
    margin-right: 15rem; */
  }

  .contactInfo {
    font-weight: normal;
  }



  .paragraphIntroduction {
    text-align: justify;
    margin: 1rem 2rem;
    font-size: 16px;
  }

  .spanIntroduction {
    font-weight: normal;
  }

  
  .buttonModal{
      background-color: #ffff;
      border: none;
  }

  .buttonWrapper {
    background-color: var(--magenta-color) !important;
    border-radius: 42px !important;
    font-weight: normal !important;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 0.6rem 1.5rem !important;
  }

  .imgButton {
    color: #FFFF;
    width: 18px;
    height: 18px;
    position: relative;
    text-decoration: none;
    font-weight: normal;
  }

  .inputWork{
      display: flex;
      gap: 1rem;
  }

  .inputJobs{
      margin: 1rem 0;
      display: flex;
      align-items: baseline;
  }

  .deleteAccountTrash {
    font-size: 14px;
     color: var(--magenta-color);
     margin-right: 2rem;
     cursor: pointer;
     text-decoration: none;
     text-transform: uppercase;
     margin-top: 0.5rem;
    }
    
    .deleteAccountTrash:hover {
      color: var(--magenta-color);
  }


  .deleteModalTitle {
    width: 100%;
  }

  .deleteModalSubTitle {
    padding: 0 6rem;
  }

  .buttonDeleteAccount {
    text-transform: uppercase;
    color: var(--magenta-color);
    background-color: #FFFF;
    border: none;
  }
}  