.flex {
    display: flex;
}

.flexTitle {
    display: flex;
    background-color: #107ACC;
    padding: 15px 0px 15px 13px;
    border-radius: 15px 15px 0px 0px;
}

.flexTitle h5{
    margin: 0px 0px 0px 10px;
}

.flexItems {
    display: flex;
    gap: 10%;
    /* justify-content: space-between;
    margin: 0px 10px 0px 10px; */
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #EAEBEE;
}

.flexItems2 {
    width: 45%;
    display: flex;
    /* justify-content: space-between; */
    margin: 5px 0px 0px 0px;
    gap: 2rem;
}

.flexItems2 .flex p {
    color: #F14281;
    font-weight: 500;
}



.flexDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5 {
    color: white;
}

.eye {
    width: 25px;
    height: 18px;
    margin: 2px 10px 0px 0px;
}

.description {
    margin: -5px 0px 0px 15px;
}

.pOne {
    font-size: 14px;
    margin: 0px;
}
.pTwo {
    font-size: 16px;
    margin: 0px;
}
