@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.divContenedor {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    position: absolute;
    width: 24%;
    height: 96.5vh;
    left: 0px;
    top: 0px;
    padding-top: 1.5rem;

    background: #FFFFFF;
    /* Values/Light */

    border-right: 2px solid #E5EEF2;
    border-radius: 0px 16px 16px 0px;
}

.logo {
    height: 100px;
}

.logo p{
    font-size: 28px;
    font-weight: bold;
}

.divFlex {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding-left: 4%;
    gap: 1rem;
}

.divFlex p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 100%;
    line-height: 20px;
    /* or 125% */

    letter-spacing: 0.1px;

    /* Black / High Emphasis */

    color: rgba(0, 0, 0, 0.87);
    margin-top: 18px;
}

/* background-color: #F60C87; */
/* .divFlex:hover{
    background-color: #142157;
} */

/* .divFlex:hover p{
    color: white;
} */

.divFlex:hover .icons{
    color: white;
    fill: #E5EEF2;
}

.iconLogo {
    width: 80%;
    height: 35px;
    margin-left: 6%;
    margin-top: 1rem;
}

/* .icons {
    margin: 15px 50px 0px 40px !important;
} */

.hr {
    height: 3px;
    background-color: #E5EEF2;
    margin-top: 60px;
    margin-bottom: 20px;
}

.settings {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    line-height: 19px;
    /* or 136% */

    letter-spacing: 0.5px;

    /* Values/Dark */
    text-align: left;
    margin-left: 40px;
    color: #797D80;
}

.navLinkTop {
        padding: 0.5rem;
        text-decoration: none;
        color: black;
        border-radius: 15px 15px 0px 0px;
}
.navLink {
        padding: 0.5rem;
        text-decoration: none;
        color: black;
}
.navLinkBottom {
        padding: 0.5rem;
        text-decoration: none;
        color: black;
        border-radius: 0px 0px 15px 15px;
}

.outletSidebar {
    /* padding: 1rem; */
    width: 75%;
    margin-top: 2rem;
    /* height: 4vh;
    border-radius: 16px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.06);
    background-color: #ffff; */
    position: relative; 
    left: 25%;
}

/* .sidebar{
    background: #000;
    color: #fff;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
} */

@media (max-width:850px) {
    .divFlex p{
        font-size: 70%;
    }
    .iconLogo {
        width: 60%;
    }
}
@media (max-width:680px) {
    .divFlex p{
        font-size: 0%;
    }
}